@using FlexValidator
@typeparam TValue
@inherits IDisposable

@foreach (var message in CurrentEditContext.GetValidationMessages(_fieldIdentifier))
{
    @switch (MessageFormat)
    {
        case messageFormat.pupup:
            if (Time > 0)
            {
                <span class="ValidatorBubble">
                    @message
                </span>
            }
            break;
        default:
            <div class="ValidatorMessage">
                @message
            </div>
            break;
    }
}
